.CreateSchedule {
    width: 445px;
    height: 271px;
    border-radius: 20px;
    gap: 15px;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 10;
}

.create-schedule-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.create-schedule-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.weekdays-button {
    width: 78px;
    height: 32px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;

    border: none;
    font-family: 'Poppins';
    font-style: normal;
    color: black;
    background-color: white;
    cursor: pointer;

    transition: .3s ease;
}

.weekdays-button:hover {
    color: #0085FF;
    background-color: rgba(40, 152, 255, 0.13);
}

.select-time {
    display: flex;
    align-items: center;
    width: 92%;
    gap: 8px;
}

.time-input {
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    color: #000000;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.other-info {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 92%;
}

.dont-work-today {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dont-work-today-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 10px;
    color: #000000;
}

.send-button-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.send-button {
    width: 82px;
    height: 29px;
    background: #0F71F2;
    border-radius: 5px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}