:root {
    --weakBlue: rgb(15, 113, 242, 0.3);
    --strongBlue: #0F71F2;
    --textColor: #000000;
}

.Homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.profile-menu-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 11vh;
    width: 90vw;
}

/* Creates a black screen behind the components create schedule and change profile picture*/
.change-profile-picture-container, .create-schedule-container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.black-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000052;
    z-index: 1;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: var(--textColor);
}

.header {
    transition: .3s ease;
}

.NotVisible {
    display: none;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 90vh;
    transition: 1s ease;
}

.active {
    justify-content: flex-start;
    margin-top: 40px;
}

.search-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: var(--textColor);
}

.search-paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.search-form {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--textColor);
}

.select-box {
    box-sizing: border-box;
    border: none;
    width: 135px;
    height: 40px;
    border-radius: 20px;
    background: var(--weakBlue);
}

.search-button {
    border: none;
    width: 181px;
    height: 45px;
    background: var(--strongBlue);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-radius: 20px;

    cursor: pointer;

}

@media only screen and (max-width: 540px) {
    .search-title {
        font-size: 28px;
        text-align: center;
    }

    .search-paragraph {
        font-size: 20px;
    }

    .search-form {
        flex-direction: column;
        align-items: center;
    }

    .select-box, .search-button {
        width: 300px;
    }
}

@media only screen and (max-width: 375px) {
    .search {
        gap: 30px;
    }

    .search-title {
        font-size: 24px;
    }

    .search-paragraph {
        font-size: 18px;
    }
}

@media only screen and (max-width: 280px) {
    .select-box, .search-button {
        width: 240px;
    }

    .copyright {
        font-size: 10px;
    }
}