.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90vh;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeback {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.welcome-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.login-label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.login-label-container {
    display: flex;
    flex-direction: column;
}

.input-box {
    box-sizing: border-box;
    border: none;
    width: 361.11px;
    height: 40px;
    background: var(--weakBlue);
}

.login-button {
    width: 361px;
    height: 45px;
    background: var(--strongBlue);
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;

    cursor: pointer;
}

.final-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.create-account-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;
}

@media only screen and (max-width: 540px) {
    .welcomeback {
        font-size: 24px;
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .input-box {
        width: 340px;
    }

    .login-button {
        width: 340px;
    }
}

@media only screen and (max-width: 280px) {
    .welcomeback {
        font-size: 20px;
    }

    .welcome-paragraph {
        font-size: 16px;
    }

    .input-box {
        width: 260px;
    }

    .login-button {
        width: 260px;
    }
}