.NotLoggedIn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.7);
    gap: 8px;
    width: 200px;
    padding: 3px;
    border-radius: 20px;

    cursor: pointer;
}

.notLoggedInMessage {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #160C28;
}