.Register {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 35px;
}

.register-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* Hard coded as fuck, change it later*/
    width: 870px; 
    
}

.register-header-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.register-header-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.register-label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
    
.register-input-box, .register-select-box {
    box-sizing: border-box;
    border: none;
    width: 361.11px;
    height: 40px;
    background: var(--weakBlue);
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 149px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.register-button {
    width: 871px;
    height: 45px;
    background: var(--strongBlue);
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;

    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .register-header {
        width: 100%;
    }

    .register-header-paragraph, .register-header-title {
        text-align: center;
    }

    .register-form {
        gap: 30px;
    }

    .inputs-container {
        flex-direction: column;
        gap: 30px;
    }

    .register-button {
        width: 361.11px;
    }
}

@media only screen and (max-width: 375px) {
    .register-header-title {
        font-size: 24px;
    }

    .register-header-paragraph {
        font-size: 20px;
    }

    .register-form, .inputs-container {
        gap: 18px;
    }

    .register-input-box, .register-select-box {
        height: 35px;
        width: 340px;
    }

    .register-button {
        font-size: 28px;
        height: 35px;
        width: 340px;
    }
}

@media only screen and (max-width: 280px) {
    .register-header-title {
        font-size: 20px;
    }

    .register-header-paragraph {
        font-size: 16px;
    }

    .register-form, .inputs-container {
        gap: 20px;
    }

    .register-input-box, .register-select-box {
        height: 30px;
        width: 260px;
    }

    .register-button {
        height: 30px;
        font-size: 20px;
        width: 260px;

    }
}