.Time {
    position: absolute;
    background-color: rgb(3, 155, 229, 0.6);
    height: 300px;
    width: 145px;
    right: 808px;
    top: 335px;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.materia {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.time {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #4A4A4A;
}

.monitor-paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}

.monitor-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
}